<template>
  <v-app>
    <v-navigation-drawer
      permanent
      left
      app
      clipped
    >
      <v-list dense>
        <v-list-tile @click="$router.push('/admin-panel/products')">
          <v-list-tile-action>
            <v-icon>store</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Products
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push('/admin-panel/categories')">
          <v-list-tile-action>
            <v-icon>archive</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Categories
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="$router.push('/admin-panel/orders')">
          <v-list-tile-action>
            <v-icon>local_offer</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              Orders
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span class="font-weight-light">AI Shop</span>
      </v-toolbar-title>
      <v-spacer />
      <v-btn @click="logout">
        Logout
      </v-btn>
    </v-toolbar>

    <v-content>
      <v-container grid-list-md>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  computed: {
    ...mapState('auth', [
      'token'
    ])
  },

  created() {
    this.$axios.setToken(this.token, 'Bearer')
  },

  methods: {
    ...mapMutations('auth', [
      'purgeAuthData'
    ]),

    logout() {
      this.purgeAuthData()
      this.$router.push('/')
    }
  }
}
</script>
