<template>
  <div>
    <div class="nav-container">
      <nav class="nav-centered">
        <div class="nav-utility">
          <div class="module left">
            <i class="ti-location-arrow">&nbsp;</i>
            <span class="sub">Piotrowo, Poznań</span>
          </div>
          <div class="module left">
            <i class="ti-email">&nbsp;</i>
            <span class="sub">shop@ai.com</span>
          </div>
        </div>
        <div class="text-center">
          <nuxt-link to="/">
            <img class="logo logo-light" alt="Foundry" src="/logo.png">
            <img class="logo logo-dark" alt="Foundry" src="/logo.png">
          </nuxt-link>
        </div>
        <div class="nav-bar text-center">
          <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
            <i class="ti-menu" />
          </div>
          <div class="text-left">
            <div class="module left">
              <ul class="menu">
                <li>
                  <a href="#">
                    Home
                  </a>
                </li>
                <li class="has-dropdown">
                  <a href="#">
                    Categories
                  </a>
                  <ul>
                    <li
                      v-for="category in categoriesAll"
                      :key="category._id"
                    >
                      <nuxt-link :to="`/category/${category.slug}`">
                        {{ category.name }}
                      </nuxt-link>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!--end of menu module-->
            <div class="module widget-handle search-widget-handle right">
              <div class="search">
                <i class="ti-search" />
                <span class="title">Search Site</span>
              </div>
              <div class="function ">
                <form class="search-form" @submit.prevent>
                  <input v-model="query" type="text" placeholder="Type Here">
                </form>
                <div class="widget">
                  <ul class="cart-overview ">
                    <!-- PUT CART LOGIC -->
                    <template v-if="query">
                      <li
                        v-for="product in searchedProducts"
                        :key="product._id"
                      >
                        <a href="#">
                          <img alt="Product" :src="getImageUrl('products', product._id)">
                          <div class="description">
                            <span class="product-title">{{ product.name }}</span>
                            <span class="price number">{{ product.price }}zł</span>
                          </div>
                        </a>
                      </li>
                      <span v-if="!searchedProducts.length">No products found with query: {{ query }}</span>
                    </template>
                  </ul>
                </div>
                <!-- put search logic -->
              </div>
            </div>
            <div class="module widget-handle cart-widget-handle right">
              <div class="cart">
                <i class="ti-bag" />
                <span class="label number">{{ totalNumberOfItems }}</span>
                <span class="title">Shopping Cart</span>
              </div>
              <div class="function">
                <div class="widget">
                  <h6 class="title">
                    Shopping Cart
                  </h6>
                  <hr>
                  <ul class="cart-overview">
                    <!-- PUT CART LOGIC -->
                    <li
                      v-for="product in cart"
                      :key="product._id"
                    >
                      <a href="#">
                        <img alt="Product" :src="getImageUrl('products', product._id)">
                        <div class="description">
                          <span class="product-title">{{ product.name }}</span>
                          <span class="price number">{{ product.count }} x {{ product.price }}zł</span>
                        </div>
                      </a>
                    </li>
                    <span v-if="!cart.lenght">No products</span>
                  </ul>
                  <hr>
                  <div class="cart-controls">
                    <NuxtLink to="/cart" class="btn btn-sm btn-filled">Checkout</NuxtLink>
                    <div class="list-inline pull-right">
                      <span class="cart-total">Total: </span>
                      <span class="number">{{ Number(totalPrice).toFixed(2) }}zł</span>
                    </div>
                  </div>
                </div>
                <!--end of widget-->
              </div>
            </div>
            <div class="module widget-handle language right">
              <ul class="menu">
                <li class="has-dropdown">
                  <a href="#">My account</a>
                  <ul>
                    <template v-if="user.role">
                      <template v-if="user.role === 'admin'">
                        <li>
                          <nuxt-link to="/admin-panel">
                            Manage
                          </nuxt-link>
                        </li>
                      </template>
                      <template v-if="user.role === 'customer'">
                        <li>
                          <a href="#">My orders</a>
                        </li>
                      </template>
                      <li>
                        <a href="#" @click="purgeAuthData()">Sign out</a>
                      </li>
                    </template>
                    <template v-else>
                      <li>
                        <nuxt-link to="/auth/login">
                          Login
                        </nuxt-link>
                      </li>
                      <li>
                        <nuxt-link to="/auth/register">
                          Register
                        </nuxt-link>
                      </li>
                    </template>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!--end of module group-->
        </div>
      </nav>
    </div>
    <div class="main-container">
      <nuxt />
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import getImageUrl from '../helpers/getImageUrl'

export default {
  name: 'Layout',

  head: {
    link: [
      { rel: 'stylesheet', type: 'text/css', href: '/css/bootstrap.css' },
      { rel: 'stylesheet', type: 'text/css', href: '/css/theme-gunmetal.css' },
      { rel: 'stylesheet', type: 'text/css', href: '/css/themify-icons.css' },
      { rel: 'stylesheet', type: 'text/css', href: '/css/flexslider.css' },
      { rel: 'stylesheet', type: 'text/css', href: '/css/lightbox.min.css' },
      { rel: 'stylesheet', type: 'text/css', href: '/css/custom.css' }
    ],
    script: [
      { src: '/js/bootstrap.min.js' },
      { src: '/js/flexslider.min.js' },
      { src: '/js/parallax.js' },
      { src: '/js/scripts.js' },
      { src: '/js/masonry.min.js' }
    ]
  },

  data: () => ({
    getImageUrl,
    query: '',
    isSearching: false,
    searchedProducts: [],
    debounced: null
  }),

  computed: {
    ...mapState('auth', [
      'user',
      'token'
    ]),
    ...mapState('categories', [
      'categoriesAll'
    ]),
    ...mapState('cart', [
      'cart'
    ]),

    totalNumberOfItems() {
      return this.cart.reduce((prev, cur) => {
        prev += cur.count
        return prev
      }, 0)
    },

    totalPrice() {
      return this.cart.reduce((prev, cur) => {
        prev += cur.price * cur.count
        return prev
      }, 0)
    }
  },

  watch: {
    query(newQuery) {
      if (newQuery) {
        clearTimeout(this.debounced)
        this.debounced = setTimeout(async () => {
          try {
            this.isSearching = true
            const data = await this.findByQuery(newQuery)
            this.searchedProducts = data
          } catch (e) {
            // eslint-disable-next-line no-console
            console.log(e)
          } finally {
            this.isSearching = false
          }
        }, 500)
      } else {
        clearTimeout(this.debounced)
      }
    }
  },

  created() {
    this.$axios.setToken(this.token, 'Bearer')
    try {
      this.findAll()
    } catch (e) {
      // eslint-disable-next-line no-console
      console.log(e)
    }
  },

  methods: {
    ...mapMutations('auth', [
      'purgeAuthData'
    ]),
    ...mapActions('categories', [
      'findAll'
    ]),
    ...mapActions('products', [
      'findByQuery'
    ])
  }
}
</script>

<style>
nav.nav-centered.nav-centered .logo {
  max-height: 128px;
  margin: 24px 0;
}
</style>
