<template>
  <section class="fullscreen">
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="feature text-center">
            <i class="ti-check-box icon icon-lg mb24 mb-xs-0" />
            <h1 class="large">
              Thanks for signing up!
            </h1>
            <p class="mb40 mb-xs-24">
              You will receive a confirmation email shortly.
              <nuxt-link to="/">
                Back to home page
              </nuxt-link>
            </p>
            <ul class="list-inline social-list">
              <li>
                <a href="#">
                  <i class="icon icon-sm ti-twitter-alt" />
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-sm ti-facebook" />
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-sm ti-dribbble" />
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="icon icon-sm ti-vimeo-alt" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end of row-->
      <div class="embelish-icons">
        <i class="ti-pencil-alt" />
        <i class="ti-check" />
        <i class="ti-envelope" />
        <i class="ti-announcement" />
        <i class="ti-signal" />
        <i class="ti-pulse" />
        <i class="ti-marker" />
        <i class="ti-layout" />
        <i class="ti-ruler-alt-2" />
        <i class="ti-eye" />
        <i class="ti-signal" />
        <i class="ti-pulse" />
      </div>
    </div>
    <!--end of container-->
  </section>
</template>
