<template>
  <section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="img/home2.jpg">
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="feature bordered text-center">
            <h4 class="uppercase">
              Register Here
            </h4>
            <div v-if="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
              <strong>No Good!</strong> {{ errorMessage }}
            </div>
            <form class="text-left" @submit.prevent="submitForm">
              <input v-model="email" v-validate="'required|email'" type="email" name="email" placeholder="Email Address">
              <span>{{ errors.first('email') }}</span>
              <input v-model="password" v-validate="'required'" type="password" name="password" placeholder="Password">
              <span>{{ errors.first('password') }}</span>
              <input v-model="passwordConfirmation" v-validate="{ is: password, required: true }" type="password" name="password-confirmation" placeholder="Confirm Password">
              <span>{{ errors.first('password-confirmation') }}</span>
              <input type="submit" value="Register">
            </form>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data: () => ({
    email: '',
    password: '',
    passwordConfirmation: '',
    errorMessage: ''
  }),

  methods: {
    ...mapActions('auth', [
      'register'
    ]),

    async submitForm() {
      this.errorMessage = ''
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }
      try {
        await this.register({
          email: this.email,
          password: this.password
        })
        this.success = true
        this.$router.push('/auth/confirmation')
      } catch (err) {
        const errors = err.response.data.errors
        if (errors.message) {
          this.errorMessage = errors.message
        }
      }
    }
  }
}
</script>
