<template>
  <v-card>
    <v-card-title>
      <h2>{{ categoriesSingle.name }}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          v-validate="'required'"
          :error-messages="errors.collect('name')"
          name="name"
          label="Name"
          type="name"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push('/admin-panel/categories/')">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save category
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Swal from 'sweetalert2'

export default {
  layout: 'admin',

  data: () => ({
    name: '',
    errorMessage: ''
  }),

  computed: {
    ...mapState('categories', [
      'categoriesSingle'
    ])
  },

  async created() {
    // eslint-disable-next-line no-console
    console.log(this.$route.params)
    try {
      await this.find(this.$route.params.id)
      this.name = this.categoriesSingle.name
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('categories', [
      'find',
      'update',
      'delete'
    ]),

    async submitForm() {
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }

      try {
        await this.update({
          id: this.$route.params.id,
          name: this.name
        })
        Swal.fire(
          'Success!',
          'Category has been updated.',
          'success'
        )
        this.$router.push('/admin-panel/categories')
      } catch (err) {
        const errors = err.response.data.errors
        if (errors.message) {
          this.errorMessage = errors.message
        }
      }
    },

    deleteObject() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id)
            Swal.fire(
              'Deleted!',
              'Category has been deleted.',
              'success'
            )
            this.$router.replace('/admin-panel/categories')
          } catch (err) {
            // eslint-disable-next-line no-console
            console.log(err)
          }
        }
      })
    }
  }
}
</script>
