<template>
  <v-card>
    <v-card-title>
      <h2>Create category</h2>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          v-validate="'required'"
          :error-messages="errors.collect('name')"
          name="name"
          label="Name"
          type="name"
        />
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push('/admin-panel/categories')">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save category
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex'
import Swal from 'sweetalert2'

export default {
  layout: 'admin',

  data: () => ({
    name: '',
    errorMessage: ''
  }),

  methods: {
    ...mapActions('categories', [
      'create'
    ]),

    async submitForm() {
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }

      try {
        await this.create({
          name: this.name
        })
        Swal.fire(
          'Success!',
          'Category has been added.',
          'success'
        )
        this.$router.push('/admin-panel/categories')
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err)
        // const errors = err.response.data.errors
        // if (errors.message) {
        //   this.errorMessage = errors.message
        // }
      }
    }
  }
}
</script>
