<template>
  <div>
    <v-card>
      <v-card-title>
        <h1>Categories</h1>
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        />
        <v-btn @click="$router.push('/admin-panel/categories/create')">
          New Category
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="[
          { text: 'Name', value: 'name'},
        ]"
        :items="categoriesAll"
        :search="search"
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <tr @click="$router.push(`/admin-panel/categories/${props.item._id}`)">
            <td>{{ props.item.name }}</td>
          </tr>
        </template>
        <template slot="no-data">
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            Sorry, nothing to display here :(
          </v-alert>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  layout: 'admin',

  data: () => ({
    search: ''
  }),

  computed: {
    ...mapState('categories', [
      'categoriesAll'
    ])
  },

  async mounted() {
    try {
      await this.findAll()
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('categories', [
      'findAll'
    ])
  }
}
</script>
