<template>
  <div>
    <section class="page-title page-title-4 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="uppercase mb0">
              Shopping Cart
            </h3>
          </div>
          <div class="col-md-6 text-right">
            <ol class="breadcrumb breadcrumb-2">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li class="active">
                Cart
              </li>
            </ol>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-0 col-sm-10 col-sm-offset-1">
            <table class="table cart mb48">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in cart" :key="product._id">
                  <th scope="row">
                    <a
                      href="#"
                      class="remove-item"
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      data-original-title="Remove from cart"
                      @click="deleteProduct(product)"
                    >
                      <i class="ti-close" />
                    </a>
                  </th>
                  <td>
                    <a href="#">
                      <img alt="Product" class="product-thumb" :src="getImageUrl('products', product._id)">
                    </a>
                  </td>
                  <td>
                    <span>{{ product.name }}</span>
                  </td>
                  <td>
                    <span>{{ product.count }}</span>
                  </td>
                  <td>
                    <span>{{ product.price }}zł</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--end of items-->
          <div class="col-md-3 col-md-offset-0 col-sm-10 col-sm-offset-1">
            <div class="mb24">
              <h5 class="uppercase">
                Your Order Total
              </h5>
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                      Cart Subtotal
                    </th>
                    <td>{{ Number(totalPrice).toFixed(2) }}zł</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Shipping
                    </th>
                    <td>15zł</td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Order Total
                    </th>
                    <td>
                      <strong>{{ Number(totalPrice + 15).toFixed(2) }}zł</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <form>
                <button class="btn" type="button" @click="$router.push('/checkout')">
                  Proceed To Checkout
                </button>
              </form>
            </div>
          </div>
          <!--end of totals-->
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import getImageUrl from '../helpers/getImageUrl'

export default {
  name: 'Cart',

  data: function () {
    return {
      getImageUrl
    }
  },

  computed: {
    ...mapState('cart', [
      'cart'
    ]),

    totalPrice() {
      return this.cart.reduce((prev, cur) => {
        prev += cur.price * cur.count
        return prev
      }, 0)
    }
  },

  methods: {
    ...mapActions('cart', [
      'deleteProduct'
    ])
  }
}
</script>

<style scoped>

</style>
