<template>
  <div>
    <section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
      <ul class="slides">
        <li class="overlay image-bg pt240 pb240 pt-xs-120 pb-xs-120">
          <div class="background-image-holder fadeIn" :style="`background: url(${img})`">
            <img alt="image" class="background-image" src="@/assets/img/fashion1.jpg">
          </div>
          <div class="container">
            <div class="row text-center">
              <div class="col-md-12">
                <h2 class="mb40 uppercase">
                  Bold, Vibrant, You.
                </h2>
                <nuxt-link class="btn btn-lg" to="/products">
                  Explore Collection
                </nuxt-link>
              </div>
            </div>
            <!--end of row-->
          </div>
          <!--end of container-->
        </li>
      </ul>
    </section>

    <section class="pt40 pb0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h6 class="uppercase mb0">
              Free shipping on all orders over 100zl for the month of July
            </h6>
          </div>
        </div>
      </div>
    </section>

    <section class="pt40 pb0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h6 class="uppercase mb0">
              Recent Arrivals This Month
            </h6>
          </div>
        </div>
      </div>
    </section>

    <section class="pt40 pb0">
      <div class="container">
        <div class="row">
          <div
            v-for="product in getLatestProducts"
            :key="product._id"
            class="col-md-3 col-sm-4"
          >
            <div class="image-tile outer-title text-center">
              <nuxt-link :to="`/products/${product.slug}`">
                <img alt="Pic" class="product-thumb" :src="getImageUrl('products', product._id)">
              </nuxt-link>
              <div class="title">
                <h5 class="mb0">
                  {{ product.category && product.category.name }}
                  <br> {{ product.name }}
                </h5>
                <span class="display-block mb16">{{ product.price }}zł</span>
              </div>
            </div>
          </div>
          <!--end three col-->
        </div>
        <div class="row text-center">
          <nuxt-link class="btn btn-lg" to="/products">
            See all
          </nuxt-link>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import img from '@/assets/img/fashion1.jpg'
import getImageUrl from '../helpers/getImageUrl'

export default {
  data: () => ({
    img,
    getImageUrl
  }),

  computed: {
    ...mapState('products', [
      'productsAll'
    ]),

    getLatestProducts() {
      return this.productsAll.slice(0, 4)
    }
  },

  async mounted() {
    try {
      await this.findAll()
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('products', [
      'findAll'
    ])
  }
}
</script>
