<template>
  <v-card>
    <v-card-title>
      <h2>{{ ordersSingle.name }}</h2>
      <v-spacer />
    </v-card-title>
    <v-card-text>
      <v-text-field
        :value="ordersSingle.firstName"
        readonly
        name="name"
        label="First name"
        type="name"
      />
      <v-text-field
        :value="ordersSingle.lastName"
        readonly
        name="name"
        label="Last name"
        type="name"
      />
      <v-text-field
        :value="ordersSingle.address"
        readonly
        name="name"
        label="Address"
        type="name"
      />
      <v-text-field
        :value="`${(new Date(ordersSingle.createdAt)).toLocaleDateString()} ${(new Date(ordersSingle.createdAt)).toLocaleTimeString()}`"
        readonly
        name="name"
        label="Ordered at"
        type="name"
      />
      <v-text-field
        :value="Number(totalPrice(ordersSingle.products)).toFixed(2)"
        readonly
        name="name"
        label="Total price"
        type="name"
      />

      <v-data-table
        :headers="[
          { text: 'Image', value: 'image', sortable: false},
          { text: 'Name', value: 'name'},
          { text: 'Price', value: 'price', sortable: false},
          { text: 'Quantity', value: 'quantity', sortable: false},
        ]"
        :items="ordersSingle.products"
        class="elevation-1"
        :pagination="false"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <tr>
            <td><img :src="getImageUrl('products', props.item._id)" style="width: 50px" /></td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.quantity }}</td>
          </tr>
        </template>
      </v-data-table>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push('/admin-panel/orders/')">
        Back
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import getImageUrl from '../../../helpers/getImageUrl'
export default {
  layout: 'admin',

  data: () => ({
    getImageUrl
  }),

  computed: {
    ...mapState('orders', [
      'ordersSingle'
    ])
  },

  async created() {
    // eslint-disable-next-line no-console
    console.log(this.$route.params)
    try {
      await this.find(this.$route.params.id)
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('orders', [
      'find'
    ]),

    totalPrice(products) {
      if (!products) return
      return products.reduce((prev, cur) => {
        prev += cur.price * cur.quantity
        return prev
      }, 0)
    }
  }
}
</script>
