<template>
  <div>
    <v-card>
      <v-card-title>
        <h1>Orders</h1>
        <v-spacer />
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        />
      </v-card-title>
      <v-data-table
        :headers="[
          { text: 'Id', value: 'id'},
          { text: 'First name', value: 'firstName'},
          { text: 'Last name', value: 'lastName'},
          { text: 'Address', value: 'address'},
          { text: 'Date', value: 'createdAt'},
          { text: 'Total price', value: 'totalPrice'},
        ]"
        :items="ordersAll"
        :search="search"
        class="elevation-1"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <tr @click="$router.push(`/admin-panel/orders/${props.item._id}`)">
            <td>{{ props.item._id }}</td>
            <td>{{ props.item.firstName }}</td>
            <td>{{ props.item.lastName }}</td>
            <td>{{ props.item.address }}</td>
            <td>{{ (new Date(props.item.createdAt)).toLocaleDateString() }} {{ (new Date(props.item.createdAt)).toLocaleTimeString() }}</td>
            <td>{{ Number(totalPrice(props.item.products)).toFixed(2) }}</td>
          </tr>
        </template>
        <template slot="no-data">
          <v-alert
            :value="true"
            color="error"
            icon="warning"
          >
            Sorry, nothing to display here :(
          </v-alert>
        </template>
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
          icon="warning"
        >
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  layout: 'admin',

  data: () => ({
    search: ''
  }),

  computed: {
    ...mapState('orders', [
      'ordersAll'
    ])
  },

  async mounted() {
    try {
      await this.findAll()
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('orders', [
      'findAll'
    ]),

    totalPrice(products) {
      return products.reduce((prev, cur) => {
        prev += cur.price * cur.quantity
        return prev
      }, 0)
    }
  }
}
</script>
