<template>
  <section class="cover fullscreen image-bg overlay">
    <div class="background-image-holder">
      <img alt="image" class="background-image" src="https://source.unsplash.com/random">
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
          <div class="feature bordered text-center">
            <h4 class="uppercase">
              Forgot password? No problem!
            </h4>
            <div v-if="errorMessage" class="alert alert-danger alert-dismissible" role="alert">
              <strong>No Good!</strong> {{ errorMessage }}
            </div>

            <div v-if="successMessage" class="alert alert-success alert-dismissible" role="alert">
              <strong>Very Good!</strong> {{ successMessage }}
            </div>
            <form class="text-left" @submit.prevent="submitForm">
              <input
                v-model="email"
                v-validate="'required|email'"
                name="email"
                class="mb0"
                type="email"
                placeholder="Email"
              >
              <span>{{ errors.first('email') }}</span>
              <input v-model="password" v-validate="'required'" type="password" name="password" placeholder="Password">
              <span>{{ errors.first('password') }}</span>
              <input v-model="passwordConfirmation" v-validate="{ is: password, required: true }" type="password" name="password-confirmation" placeholder="Confirm Password">
              <span>{{ errors.first('password-confirmation') }}</span>
              <input type="submit" value="Send reset email">
            </form>
          </div>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  data: () => ({
    email: '',
    password: '',
    passwordConfirmation: '',
    errorMessage: '',
    successMessage: ''
  }),

  computed: {
    ...mapState('auth', {
      userEmail: state => state.user.email
    })
  },

  mounted() {
    const { email, token } = this.$route.query

    this.email = email
    this.token = token
  },

  methods: {
    ...mapActions('auth', [
      'passwordForgotRequestChange'
    ]),

    async submitForm() {
      this.errorMessage = ''
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }
      try {
        this.successMessage = ''
        await this.passwordForgotRequestChange({
          email: this.email,
          password: this.password,
          token: this.token
        })
        this.successMessage = 'Password was changed successfully'
      } catch (err) {
        const errors = err.response.data.errors
        if (errors.message) {
          this.errorMessage = errors.message
        }
      }
    }
  }
}
</script>
