<template>
  <div>
    <section class="page-title page-title-4 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="uppercase mb0">
              Checkout
            </h3>
          </div>
          <div class="col-md-6 text-right">
            <ol class="breadcrumb breadcrumb-2">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li class="active">
                Checkout
              </li>
            </ol>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
              <h4 class="uppercase">
                Billing Details
              </h4>
            </div>
            <form class="customer-details mb80 mb-xs-40">
              <div class="input-with-label col-sm-6 text-left">
                <span>First Name:</span>
                <input v-model="firstName" v-validate="'required'" type="text">
              </div>
              <div class="input-with-label col-sm-6 text-left">
                <span>Last Name:</span>
                <input v-model="lastName" v-validate="'required'" type="text">
              </div>
              <div class="input-with-label col-sm-12 text-left">
                <span>Postal Address:</span>
                <input v-model="address" v-validate="'required'" type="text" placeholder="Address">
              </div>
            </form>
          </div>
        </div>
        <!--end of row-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
              <h4 class="uppercase">
                Order Summary
              </h4>
              <hr>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">
                    Cart Subtotal
                  </th>
                  <td>{{ Number(totalPrice).toFixed(2) }}zł</td>
                </tr>
                <tr>
                  <th scope="row">
                    Shipping
                  </th>
                  <td>15zł</td>
                </tr>
                <tr>
                  <th scope="row">
                    Order Total
                  </th>
                  <td>
                    <strong>{{ Number(totalPrice + 15).toFixed(2) }}zł</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <form class="halves text-center" @submit="submitForm">
              <a class="btn btn-lg pull-left" href="#">Back To Cart</a>
              <input type="submit" class="pull-right" value="Submit Order">
            </form>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  name: 'Checkout',

  data: () => ({
    firstName: '',
    lastName: '',
    address: ''
  }),

  computed: {
    ...mapState('cart', [
      'cart'
    ]),

    totalPrice() {
      return this.cart.reduce((prev, cur) => {
        prev += cur.price * cur.count
        return prev
      }, 0)
    }
  },

  methods: {
    ...mapMutations('cart', [
      'reset'
    ]),

    async submitForm(e) {
      e.preventDefault()
      this.errorMessage = ''
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }
      try {
        await this.$axios.post(`${process.env.api_url}/orders/`, {
          firstName: this.firstName,
          lastName: this.lastName,
          address: this.address,
          products: this.cart.map(product => ({
            _id: product._id,
            quantity: product.count,
            name: product.name,
            price: product.price
          }))
        })
        this.reset()
        this.$router.push('/checkout/success')
      } catch (err) {
        const errors = err.response.data.errors
        if (errors.message) {
          this.errorMessage = errors.message
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
