<template>
  <div>
    <section class="page-title page-title-4 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="uppercase mb0">
              Checkout
            </h3>
          </div>
          <div class="col-md-6 text-right">
            <ol class="breadcrumb breadcrumb-2">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li class="active">
                Checkout
              </li>
            </ol>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
              <h4 class="uppercase">
                Order saved successfully
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Success'
}
</script>

<style scoped>

</style>
