<template>
  <div>
    <section class="page-title page-title-4 bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="uppercase mb0">
              {{ productsSingle.name }}
            </h3>
          </div>
          <div class="col-md-6 text-right">
            <ol class="breadcrumb breadcrumb-2">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li class="active">
                {{ productsSingle.name }}
              </li>
            </ol>
          </div>
        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    <section>
      <div class="container">
        <div class="product-single">
          <div class="row mb24 mb-xs-48">
            <div class="col-md-5 col-sm-6">
              <div class="slider-thumb-controls controls-inside">
                <ul class="slides">
                  <li>
                    <img alt="Image" :src="getImageUrl('products', productsSingle._id)">
                  </li>
                </ul>
              </div>
              <!--end of image slider-->
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6">
              <div class="description">
                <div class="mb32 mb-xs-24">
                  <span class="number price">{{ productsSingle.price }}zł</span>
                </div>
                <p>
                  {{ productsSingle.description }}
                </p>
              </div>
              <hr class="mb48 mb-xs-24">
              <form class="add-to-cart" @submit.prevent="addItemToCart">
                <input v-model="count" type="number" placeholder="QTY" min="0">
                <input type="submit" value="Add To Cart">
              </form>
            </div>
          </div>
          <!--end of row-->
        </div>
        <!--end of product single-->
      </div>
      <!--end of container-->
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import getImageUrl from '../../helpers/getImageUrl'

export default {
  data: () => ({
    getImageUrl,
    count: 0
  }),

  computed: {
    ...mapState('products', [
      'productsSingle'
    ])
  },

  async mounted() {
    try {
      await this.findOneBySlug(this.$route.params.slug)
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('products', [
      'findOneBySlug'
    ]),

    ...mapActions('cart', [
      'addProduct'
    ]),

    addItemToCart() {
      if (this.count > 0) {
        this.addProduct({
          product: this.productsSingle,
          count: parseInt(this.count, 10)
        })
      }
    }
  }
}
</script>

<style>

</style>
