<template>
  <div>
    <section class="page-title page-title-2 image-bg overlay">
      <div class="background-image-holder fadeIn" :style="`background: url(${img})`">
        <img alt="Background Image" class="background-image" src="@/assets/img/fashion1.jpg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="uppercase mb8">
              All products
            </h2>
            <p class="lead mb0">
              Curated, Must-Have Products
            </p>
          </div>
          <div class="col-md-6 text-right">
            <ol class="breadcrumb breadcrumb-2">
              <li>
                <a href="#">Home</a>
              </li>
              <li class="active">
                All products
              </li>
            </ol>
          </div>
        </div>
      <!--end of row-->
      </div>
    <!--end of container-->
    </section>
    <section>
      <div class="container">
        <!--end of row-->
        <div class="row">
          <div
            v-for="product in productsAll"
            :key="product._id"
            class="col-sm-6 masonry-item col-xs-12"
          >
            <div class="image-tile outer-title text-center">
              <nuxt-link :to="`/products/${product.slug}`">
                <img alt="Pic" class="product-thumb" :src="getImageUrl('products', product._id)">
              </nuxt-link>
              <div class="title">
                <h5 class="mb0">
                  {{ product.category && product.category.name }}
                  <br> {{ product.name }}
                </h5>
                <span class="display-block mb16">{{ product.price }}zł</span>
              </div>
            </div>
          </div>
        <!--end three col-->
        </div>
      <!--end of row-->
      </div>
    <!--end of container-->
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import img from '@/assets/img/fashion1.jpg'
import getImageUrl from '../../helpers/getImageUrl'

export default {
  data: () => ({
    getImageUrl,
    img
  }),

  computed: {
    ...mapState('products', [
      'productsAll'
    ])
  },

  async mounted() {
    try {
      await this.findAll()
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('products', [
      'findAll'
    ])
  }
}
</script>

<style>

</style>
