<template>
  <v-card>
    <v-card-title>
      <h2>{{ productsSingle.name }}</h2>
      <v-spacer />
      <v-btn
        color="error"
        @click="deleteObject"
      >
        Delete
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          v-validate="'required'"
          :error-messages="errors.collect('name')"
          name="name"
          label="Name"
          type="text"
        />
        <v-text-field
          id="price"
          v-model="price"
          v-validate="'required|decimal:2'"
          :error-messages="errors.collect('price')"
          name="price"
          label="Price"
          type="text"
        />
        <v-select
          v-model="categoryId"
          v-validate="'required'"
          name="category"
          :items="categoriesAll"
          :error-messages="errors.collect('category')"
          item-text="name"
          item-value="_id"
          label="Category"
          clearable
        />

        <v-textarea
          v-model="description"
          v-validate="'required'"
          :error-messages="errors.collect('description')"
          name="description"
          label="Description"
        />

        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
          <img v-if="imageUrl" :src="imageUrl" height="150">
          <v-text-field v-model="imageName" label="Select Image" prepend-icon="attach_file" @click="pickFile" />
          <input
            ref="image"
            type="file"
            style="display: none"
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push('/admin-panel/products')">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save product
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Swal from 'sweetalert2'

import getImageUrl from '@/helpers/getImageUrl'

export default {
  layout: 'admin',

  data: () => ({
    name: '',
    price: '',
    description: '',
    categoryId: '',
    imageName: '',
    imageUrl: '',
    imageFile: '',
    errorMessage: ''
  }),

  computed: {
    ...mapState('categories', [
      'categoriesAll'
    ]),
    ...mapState('products', [
      'productsSingle'
    ])
  },

  async created() {
    // eslint-disable-next-line no-console
    await this.findAllCategories()
    try {
      await this.find(this.$route.params.id)
      this.name = this.productsSingle.name
      this.price = this.productsSingle.price
      this.description = this.productsSingle.description
      this.categoryId = this.productsSingle.category._id
      this.imageUrl = getImageUrl('products', this.productsSingle._id)
    } catch (err) {
      // eslint-disable-next-line no-console
      console.log(err)
    }
  },

  methods: {
    ...mapActions('categories', {
      findAllCategories: 'findAll'
    }),

    ...mapActions('products', [
      'find',
      'update',
      'delete'
    ]),

    pickFile() {
      this.$refs.image.click()
    },

    onFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },

    async submitForm() {
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }

      try {
        const bodyFormData = new FormData()
        bodyFormData.append('name', this.name)
        bodyFormData.append('price', this.price)
        bodyFormData.append('description', this.description)
        bodyFormData.append('categoryId', this.categoryId)
        bodyFormData.append('image', this.imageFile)
        await this.update({
          id: this.$route.params.id,
          payload: bodyFormData
        })
        Swal.fire(
          'Success!',
          'Product has been added.',
          'success'
        )
        this.$router.push('/admin-panel/products')
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err)
        this.errors = err.response.data.errors
        if (this.errors.message) {
          this.errorMessage = this.errors.message
        }
      }
    },

    deleteObject() {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(async (result) => {
        if (result.value) {
          try {
            await this.delete(this.$route.params.id)
            Swal.fire(
              'Deleted!',
              'Product has been deleted.',
              'success'
            )
            this.$router.replace('/admin-panel/products')
          } catch (err) {
            // eslint-disable-next-line no-console
            console.log(err)
          }
        }
      })
    }
  }
}
</script>
