<template>
  <v-card>
    <v-card-title>
      <h2>Add product</h2>
    </v-card-title>
    <v-card-text>
      <v-alert
        :value="errorMessage"
        type="error"
      >
        {{ errorMessage }}
      </v-alert>
      <v-form @submit.prevent="submitForm">
        <v-text-field
          v-model="name"
          v-validate="'required'"
          :error-messages="errors.collect('name')"
          name="name"
          label="Name"
          type="text"
        />
        <v-text-field
          id="price"
          v-model="price"
          v-validate="'required|decimal:2'"
          :error-messages="errors.collect('price')"
          name="price"
          label="Price"
          type="text"
        />
        <v-select
          v-model="categoryId"
          v-validate="'required'"
          name="category"
          :items="categoriesAll"
          :error-messages="errors.collect('category')"
          item-text="name"
          item-value="_id"
          label="Category"
          clearable
        />

        <v-textarea
          v-model="description"
          v-validate="'required'"
          :error-messages="errors.collect('description')"
          name="description"
          label="Description"
        />

        <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
          <img v-if="imageUrl" :src="imageUrl" height="150">
          <v-text-field v-model="imageName" label="Select Image" prepend-icon="attach_file" @click="pickFile" />
          <input
            ref="image"
            type="file"
            style="display: none"
            accept="image/*"
            @change="onFilePicked"
          >
        </v-flex>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn @click="$router.push('/admin-panel/products')">
        Cancel
      </v-btn>
      <v-btn color="primary" @click="submitForm">
        Save product
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Swal from 'sweetalert2'

export default {
  layout: 'admin',

  data: () => ({
    name: '',
    price: '',
    description: '',
    categoryId: '',
    imageName: '',
    imageUrl: '',
    imageFile: '',
    errorMessage: ''
  }),

  computed: {
    ...mapState('categories', [
      'categoriesAll'
    ])
  },

  async created() {
    await this.findAllCategories()
  },

  methods: {
    ...mapActions('categories', {
      findAllCategories: 'findAll'
    }),

    ...mapActions('products', [
      'create'
    ]),

    pickFile() {
      this.$refs.image.click()
    },

    onFilePicked(e) {
      const files = e.target.files
      if (files[0] !== undefined) {
        this.imageName = files[0].name
        if (this.imageName.lastIndexOf('.') <= 0) {
          return
        }
        const fr = new FileReader()
        fr.readAsDataURL(files[0])
        fr.addEventListener('load', () => {
          this.imageUrl = fr.result
          this.imageFile = files[0] // this is an image file that can be sent to server...
        })
      } else {
        this.imageName = ''
        this.imageFile = ''
        this.imageUrl = ''
      }
    },

    async submitForm() {
      await this.$validator.validate()

      if (this.errors.count()) {
        return
      }

      try {
        const bodyFormData = new FormData()
        bodyFormData.append('name', this.name)
        bodyFormData.append('price', this.price)
        bodyFormData.append('description', this.description)
        bodyFormData.append('categoryId', this.categoryId)
        bodyFormData.append('image', this.imageFile)
        await this.create(bodyFormData)
        Swal.fire(
          'Success!',
          'Product has been added.',
          'success'
        )
        this.$router.push('/admin-panel/products')
      } catch (err) {
        this.errors = err.response.data.errors
        if (this.errors.message) {
          this.errorMessage = this.errors.message
        }
      }
    }
  }
}
</script>
